
/*

https://getbootstrap.com/docs/4.1/getting-started/theming/
https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss
https://coolors.co/343434-967646-ea7a1a-674797-dbdbdb
https://themestr.app/theme
https://coolors.co/browser/best/1
https://coolors.co/247ba0-70c1b3-b2dbbf-f3ffbd-ff1654
https://coolors.co/50514f-f47c79-ffe066-247ba0-70c1b3

https://www.w3schools.com/bootstrap4/bootstrap_ref_all_classes.asp

fontawesome as icon - http://gauger.io/fonticon | https://stackoverflow.com/a/39397829/234110
popper - https://github.com/MrFrankel/ngx-popper
*/

// FONTS:
@import url('https://fonts.googleapis.com/css?family=Quando|Roboto|Roboto+Mono');
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, Quando, Roboto, "Segoe UI", "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


.btn-group{
    margin-right: 10px;
}

.pointer{
    cursor: pointer;
}

.progress{
    height: 2px;
    background: transparent;
}