@import "~src/assets/custom.scss";

#tainput{
    margin-top: 0;
    font-family: $font-family-monospace;
    font-size: 12px;
    min-height: 200px;
}

app-growli{
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 8px;
    z-index: 9999;
}