<nav class="navbar navbar-expand-sm bg-dark navbar-light sticky-top">
    <div class="container-fluid">
        <div class="btn-toolbar" role="toolbar" aria-label="Options">
            <div class="btn-group" role="group" aria-label="Json Options">
                <button #btnBeautifyJson type="button" class="btn btn-primary" [ngClass]="disableBtnClass" title="Beautify. Shift+click to beautify and copy to clipboard." (click)="beautifyJson(tainput.value, $event)"><i class="fas fa-indent"></i></button>
                <button #btnUglyJson type="button" class="btn btn-primary" [ngClass]="disableBtnClass" title="Uglify. Shift+click to uglify and copy to clipboard." (click)="uglifyJson(tainput.value, $event)"><i class="fas fa-file-archive"></i></button>
                <button #btnExpandCollapse type="button" class="btn btn-primary" [ngClass]="disableBtnClass" title="Expand/Collapse" (click)="expCollapse()">
                    <span *ngIf="!expanded">
                        <i class="fas fa-plus-square"></i>
                    </span>
                    <span *ngIf="expanded" >
                        <i class="fas fa-minus-square"></i>
                    </span>
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="Rason Cache Options">
                <button #btnSaveJson type="button" class="btn btn-info" [ngClass]="disableBtnClass" title="Save to Rason Cache" (click)="createJson(tainput.value, $event)"><i class="fas fa-upload"></i></button>
                <button #btnUrl type="button" class="btn btn-info" title="Load from url" (click)="toggleHideUrl()"><i class="fas fa-globe-americas"></i></button>
                <button #btnInputText type="button" class="btn btn-info" title="Toggle Input Text Box" (click)="hideInputText=!hideInputText"><i class="fas fa-pencil-alt"></i></button>
                <button #btnBucket type="button" class="btn btn-info" title="Change bucket" (click)="showBucketInputModal()"><i class="fas fa-suitcase-rolling"></i></button>
                <button #btnInfo type="button" class="btn btn-info" title="Version Info" (click)="showVersion()"><i class="fas fa-info"></i></button>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12">
            <div class="row" [hidden]="hideUrl">
                <div class="col-12">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control ip" [ngClass]="urlClass" #urlInput [ngModel]="urlInputVal" placeholder="https://api.github.com/repos/anandchakru/rason" (keyup)="updateUrlByEnter(urlInput.value, $event)">
                            <span class="input-group-addon input-group-addon-btn bg-white">
                                <button class="btn btn-primary" type="Update JSON" (click)="updateJSON(urlInput.value, tainput.value)" [disabled]="txtClass.length>0"><i class="fas fa-save"></i></button>
                                <button class="btn btn-primary" type="View Raw JSON" (click)="openUrl(urlInput.value)" [disabled]="urlInput.value.length==0"><i class="fas fa-external-link-alt"></i></button>
                                <button class="btn btn-primary" type="Load from URL" (click)="updateUrl(urlInput.value)" [disabled]="urlInput.value.length==0"><i class="fas fa-download"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" [hidden]="hideInputText">
                <div class="col-12">
                    <div class="form-group hundred">
                        <textarea id="tainput" class="form-control ip" [ngClass]="txtClass" #tainput [ngModel]="taInputVal" (focus)="tainput.select()" (keydown)="showProcessing()" (keyup)="debouncedUpdate(tainput.value)" placeholder='{"id":"1","name":"rason"}' autofocus></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="progress">
                        <div [hidden]="!processingJson" class="progress-bar bg-info" [ngStyle]="processingJsonStyle"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-json-view #appJsonView [parent]="'true'" [json]="inputJson" [expanded]="expanded" *ngIf="!err?.length"></app-json-view>
                </div>
            </div>
        </div>
    </div>
</div>

<app-cookie></app-cookie>
<app-growli></app-growli>
<app-loadi #loadiComponent></app-loadi>
<div id="versionInfo" class="sr-only text-hide">
    {{version | json}}
</div>

<!-- custom bucket modal -->
<div class="modal fade" id="bucketIpModal" [ngClass]="bucketInputModalClass" [ngStyle]="bucketInputModalStyle">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Custom Bucket</h4>
          <button type="button" class="close" (click)="hideBucketInputModal()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <input type="text" maxlength="10" class="form-control ip" [ngClass]="bucketInputClass" [(ngModel)]="bucket" #bucketInput placeholder="bucket">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="saveBucket(bucketInput.value)">Save</button>
        </div>

      </div>
    </div>
</div>

<!-- custom slug modal -->
<div class="modal fade" id="slugIpModal" [ngClass]="slugInputModalClass" [ngStyle]="slugInputModalStyle">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Custom Slug</h4>
          <button type="button" class="close" (click)="hideSlugInputModal()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <input type="text" class="form-control ip" [ngClass]="slugInputClass" #slugInput (keyup)="checkSlug(slugInput.value)" placeholder="slug">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="saveJson(slugInput.value, tainput.value)">Save</button>
        </div>

      </div>
    </div>
</div>