<nav class="navbar navbar-expand-sm bg-dark navbar-light sticky-top">
    <div class="container-fluid">
        <div class="btn-toolbar" role="toolbar" aria-label="Options">
            <div class="btn-group" role="group" aria-label="Json Options">
                <button #btnBeautifyJson type="button" class="btn btn-primary" [ngClass]="disableBtnClass" title="Beautify" (click)="beautifyJson(tainput.value)"><i class="fas fa-indent"></i></button>
                <button #btnUglyJson type="button" class="btn btn-primary" [ngClass]="disableBtnClass" title="Uglify" (click)="uglifyJson(tainput.value)"><i class="fas fa-file-archive"></i></button>
                <button #btnExpandCollapse type="button" class="btn btn-primary" [ngClass]="disableBtnClass" title="Expand/Collapse" (click)="expCollapse()">
                    <span *ngIf="!expanded">
                        <i class="fas fa-plus-square"></i>
                    </span>
                    <span *ngIf="expanded" >
                        <i class="fas fa-minus-square"></i>
                    </span>
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="Rason Cache Options">
                <button #btnSaveJson type="button" class="btn btn-info" [ngClass]="disableBtnClass" title="Save to Rason Cache" (click)="createJson(tainput.value)"><i class="fas fa-upload"></i></button>
                <button #btnUrl type="button" class="btn btn-info" title="Load from url" (click)="toggleHideUrl()"><i class="fas fa-location-arrow"></i></button>
                <button #btnNofication type="button" class="btn btn-info" title="Previously Saved">
                    <i class="fas fa-bell"></i>
                    <span class="badge badge-secondary">{{slugs?.length}}</span>
                </button>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row" [hidden]="hideUrl">
        <div class="col-12">
            <div class="form-group">
                <input type="text" class="form-control ip" [ngClass]="urlClass" #urlInput [ngModel]="urlInputVal" (keyup)="updateUrl(urlInput.value)" placeholder="https://api.github.com/repos/anandchakru/rason">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group hundred">
                <textarea id="tainput" class="form-control ip" [ngClass]="txtClass" #tainput [ngModel]="taInputVal" (keyup)="update(tainput.value)" placeholder='{"id":"1","name":"rason"}'></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-json-view #appJsonView [json]="inputJson" [expanded]="expanded" *ngIf="!err?.length"></app-json-view>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-light fixed-bottom">
    <div class="container-fluid">
        <span class="text-white">simple scalable service virtualization (json).</span>
    </div>
</nav>

<app-cookie></app-cookie>
<app-growli></app-growli>
<app-loadi #loadiComponent></app-loadi>