<div class="json-viewer" [ngClass]="parent?'json-viewer-parent':''">
  <div *ngFor="let it of items" class="item">
      <div class="rep-obj rounded" (click)="toggleOpend(it)">
          <div [class.pointer]="it.isExpandable" class="rounded">
              <span class="item-key ">{{it.key}}</span>
              <span class="dot "> : </span>
              <span [ngClass]="it.valueClasses ">{{it.title}}</span>
          </div>
          <div class="toggler " *ngIf="it.isExpandable " [ngClass]="{ ' opened ': it.isOpened} "></div>
      </div>
      <div *ngIf="it.isExpandable && it.isOpened " class="sub-child ">
          <app-json-view [json]="it.value " [expanded]="expanded "></app-json-view>
      </div>
  </div>
</div>